body{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 60px;
    width: 100%;
}

nav{
    display: flex;
    justify-content:flex-end;
}
.yurani li{
    display:inline;
    width:250px;
    height:auto;
    
}