body{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 60px;
    width: 100%;
}

nav{
    display: flex;
    justify-content:flex-end;
}
.yurani li{
    display:inline;
    width:250px;
    height:auto;
    
}

 .menu-icon{
     text-shadow: transparent;
     color: transparent;
     text-decoration: none;
     background-image: url(https://static.thenounproject.com/png/756729-200.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     font-weight: 25px;
     height: 25px;
} 